
 section#header {
     border-bottom: 1px solid $yami-grey-6;
    .container {
       .row {
           height: 70px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           @media only screen and (max-width: 400px){

           }
           .logo {}
           .nav {
            @media only screen and (max-width: 400px){
                display: none;
            } 
           }
       } 
    }
 }


 section#body {
    background-color: $yami-grey-7;
    @media only screen and (max-width: 1024px) {
        padding-top: 40px;
     }
   
    .container {
        .row {
            display: flex;
            height: calc(100% - (140px));
            align-items: center;
            @media only screen and (max-width: 1024px) {
                flex-direction: column !important;
            }
            .left {
                width: 600px;
                padding-right: 3rem;
                @media only screen and (max-width: 1024px) {
                    width: 100% !important;
                    padding: 0 !important;
                }
                .left-content {
                    .page-heading {
                        margin-bottom: 2rem;
                       .ph-line h1 {
                           @media screen and (max-width: 768px) {
                               font-size: 3.5rem !important;
                               line-height: 4rem !important;
                           }

                       }
                    }
                    .description {
                        margin-bottom: 4rem;
                        p {
                            font-size: 1.125rem;
                            line-height: 2rem;
                        }
                    }
                    .subscribe {
                        margin-bottom: 2rem;
                        .subscribe-title{
                            margin-bottom: 1rem;
                        }
                        .subscribe-form{
                            width: 550px;
                                @media only screen and(max-width: 960px) {
                                    width: 100%;
                                }
                            .form-row {
                                display: flex;
                                background-color: #FAFAFA;
                                // box-shadow:  0px 0px 24px 0px rgba(0,0,0,0.11);
                                @media only screen and (max-width: 1024px) {
                                    display: block;
                                }
                                .form-column.field {
                                    @media only screen and (max-width: 1024px) {
                                      margin-bottom: .5rem;
                                    }
                                    input {
                                        border-top-left-radius: 3px;
                                        border-bottom-left-radius: 3px;
                                        color: $yami-grey-1;
                                        width: 410px;
                                        @media only screen and (max-width: 1024px) {
                                            border-radius: 0px;
                                            border-top-right-radius: 3px;
                                            border-top-left-radius: 3px;
                                            width: 100%;
                                        }
                                      
                                    }
                                }
                                .form-column.btn {
                                    button {
                                        border-top-right-radius: 3px;
                                        border-bottom-right-radius: 3px;
                                        width: 140px;
                                        cursor: pointer;
                                        @media only screen and (max-width: 1024px) {
                                            border-radius: 0px;
                                            border-bottom-right-radius: 3px;
                                            border-bottom-left-radius: 3px;
                                            width: 100% !important;
                                        }
                                    }
                                }
                            }

                        }
                        .msg-container {
                            position: relative;
                            height: 36px;
                            
                            .msg-content {
                                border-radius: 3px;
                                display: flex;
                                align-items: center;
                                .msg-icon {
                                    margin-right: 0.75rem;
                                }
                                .msg {
                                    font-size: 0.75rem
                                }
                                .success {
                                    color: $yami-green;
                                }
                                .error {
                                    color: red;
                                }
                            }
                        }
                    }
                    .loan-disbursed {
                        
                        .total-amt {
                            display: flex;
                            font-size: 3.375rem;
                            @media only screen and (max-width: 768px){
                                font-size: 3rem;
                                justify-content: center;
                            }

                            @media only screen and (max-width: 375px){
                                font-size: 2.25rem;
                                justify-content: center;
                            }
                            
                            .figure {
                                display: flex;
                                @media only screen and (max-width: 768px){
                                   
                                }
                            }
                        }
                        .desc-copy {
                            text-align: center;
                        }
                    }
                }
            }
            .right {
                width: 600px;
                position: relative;
                @media only screen and (max-width: 1024px) {
                    width: 100% !important;
                }
                .right-section {
                    position: relative;
                    top: 120px;
                    @media only screen and (max-width: 1024px) {
                       top: 0px;
                    }
                    .yami-man {
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        &::before {
                            content: "";
                            width: 280px;
                            height: 280px;
                            border-radius: 100%;
                            background-color: rgba(0, 182, 78, 0.12);
                            z-index: -10;
                            position: absolute;
                            top: 40px;
                            left: 60px; 
                        }  
                        &::after {
                            content: "";
                            width: 96px;
                            height: 96px;
                            border-radius: 100%;
                            background-color: rgba(0, 182, 78, 0.12);
                            z-index: -10;
                            position: absolute;
                            top: 40px;
                            left: 60px;
                        }
                        .man {
                            z-index: -2;
                            img.yami-man-image {
                                width: 100% !important;
                            }
                        }
                        .shape-right { 
                            position: absolute; 
                            right: 2rem; 
                            top: 0;
                        } 
                        .shape-left { 
                            position: absolute; 
                            bottom: 4rem; 
                            left: 0;
                        } 
                    
                    }
               
                    .testimonial {
                        background-color: #FFFFFF;
                        padding: 2.5rem;
                        border-radius: 5px;
                        box-shadow:  10px 10px 90px 0px rgba(0,0,0,0.11);
                        overflow: hidden;
                        width: 600px;
                        min-height: 273px;
                        box-sizing: border-box;
                        position: relative;
                        top: -40px;
                        z-index: 999;
                        @media only screen and (max-width: 1024px) {
                            width: 100% !important;
                            // top: -20px;
                            margin: 0 auto;
                            overflow: visible; 
                            padding-left: 1.8rem;
                            padding-right: 1.8rem;
                        }
                        h5 {
                            margin-bottom: 1.25rem;
                        }
                        .test-content { 
                            .testimonial-quote {
                                margin-right: 0;
                            }
                            .testimonial-container {  
                                width: 520px;
                                @media screen and (max-width: 1024px) {
                                    width: 100% ;
                                }

                                ul {
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;
                                    // display: flex;
                                    position: relative;
                                    width: 520px;
                                    height: 120px;
                                    overflow: hidden;
                                    @media screen and (max-width: 1024px) {
                                        width: 100% ;
                                        height: 130px;
                                    }
                                    @media screen and (max-width: 600px) {
                                        height: 180px;
                                    }
                                    @media screen and (max-width: 475px) {
                                        height: 200px;
                                    }
                                    @media screen and (max-width: 375px) {
                                        height: 280px;
                                    }
                                    li {
                                        list-style: none;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%; 
                                        margin-top: 1em;
                                        opacity: 0; 
                                    .t-div { 
                                        transition: all ease-out .3s;  
                                            .testimonial-copy {
                                                margin-bottom: 1rem;
                                                p { font-size: 0.8125rem !important; line-height: 1.4375rem;}
                                            }
                                            .person {
                                                p {
                                                    font-size: 0.8125rem !important; line-height: 1.4375rem;
                                                    span.name { 
                                                        font-weight: bold; 
                                                        color: $yami-green;  
                                                    } 
                                                    span.location { 
                                                        font-weight: normal; 
                                                        color: $yami-grey-3; 
                                                    }
                                                }
                                            }
                                    }
                                    }
                                }

                             
                             
                            }
                        }
                      
                    }
                }
                
            }
            
        }
    }
 }




section#partners {
    background-color: #fff;
    padding: 2.5rem 0 1.5rem 0;
    .container {

        .row.logos-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 960px) {
                flex-wrap: wrap !important;
            }
            &.title-row { }
        }
        .row.logos-row {
            padding: 3rem 0 2rem 0;
            .logo-col {
                padding-bottom: 1rem;
                text-align: center !important;
                margin-right: 1rem;
                margin-left: 1rem;
                &:last-child {
                    margin-right: 0;
                } 
                @media only screen and (max-width: 768px) {
                    margin-bottom: 1rem;
                    margin-top: 1rem; 
                    margin-left: 0;
                    margin-right: 0;
                    width: 50%;

                    img {
                        display: inline;
                        text-align: center !important;
                        @media screen and (max-width: 440px){
                            
                        }
                    }
                }

                @media screen and (max-width: 440px){
                    width: 1000%;

                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }

               


                
                
            }
        }
    }
}




section#footer {
    padding-bottom: 1rem;
    .container {
        .row {
            .col {
                font-size: 0.7rem;
                color: $yami-grey-2;
                line-height: 1rem;
            }
        }
    }
}